<section class="slider-section">
  <div class="gradient-layer">
    <div class="bne-mainsec">
      <div class="owl-carousel">
        <div class="item active">
          <div class="bnnar-slider1">
            <img src="./assets/images/s-1.png" class="img-fluid" alt="" />
          </div>
          <div class="container-slider">
            <blockquote>
              <p class="wow fadeInUpBig">
                <i class="fas fa-quote-left"></i> Discourage litigation.
                Persuade your neighbors to compromise whenever you can. Point
                out to them how the nominal winner is often a real loser -- in
                fees, expenses, and waste of time.
              </p>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="bnnar-slider1">
            <img src="./assets/images/s-2.png" class="img-fluid" alt="" />
          </div>
          <div class="container-slider">
            <blockquote>
              <p class="wow fadeInUpBig">
                <i class="fas fa-quote-left"></i> A majority held in restraint
                by constitutional checks and limitations…is the only true
                sovereign of a free people. Whoever rejects it does of necessity
                fly to anarchy or to despotism.
              </p>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="bnnar-slider1">
            <img src="./assets/images/s-3.png" class="img-fluid" alt="" />
          </div>
          <div class="container-slider">
            <blockquote>
              <p class="wow fadeInUpBig">
                <i class="fas fa-quote-left"></i> We can have democracy in this
                country, or we can have great wealth concentrated in the hands
                of a few, but we can't have both
              </p>
            </blockquote>
          </div>
        </div>
      </div>
      <div onclick="scrollToForm()" class="scroll-img">
        <img
          src="./assets/images/SCROLL-min.png"
          class="img-fluid"
          alt="image"
        />
      </div>
      <div class="svg-design">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1000 100"
          preserveAspectRatio="none"
        >
          <path
            class="elementor-shape-fill"
            d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
              c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
              c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
<!-- blog-section -->

<section id="form" class="blog-section pd_auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-xl-6">
        <div class="blog-content">
          <h2 class="tag">
            A boutique law firm and an established law practicing agency.
          </h2>
          <p>
            If you are facing a charge of Diwan Advocate in the state of
            Connecticut, you need an attorney by your side that knows the ins
            and outs of Diwan Advocate defense. I am known around Connecticut as
            Diwan Advocate because they are the basis of my entire practice.
          </p>
          <div class="handle-list">
            <ul>
              <li>
                Lorem ipsum dolor sit amet,
                <strong>consectetur adipiscing</strong> elit.
              </li>
              <li>
                Aenean ut quam <strong>eget </strong>erat sodales iaculis nec et
                elit.
              </li>
              <li>
                Sed sit <strong>amet mauris quis</strong> metus rhoncus
                tincidunt.
              </li>
            </ul>
            <a href="#"
              >GET TO KNOW OUR TEAM <i class="fas fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-6 blog-mage-wrp">
        <div class="blog-image">
          <figure>
            <img
              class="img-fluid"
              src="./assets/images/blog-1.png"
              alt="image"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our services -->

<section class="our-srvices pd_auto">
  <div class="container">
    <div class="text-center services-header">
      <div class="features-content-area wow bounceInRight">
        <h3>OUR SERVICES</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde
          quas magni fugiat libero, minus perspiciatis, iure incidunt doloribus
          similique, natus porro vel. Dignissimos vero deserunt consectetur!
          Qui, illo maiores.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="srvices-wrp wow fadeInUp">
          <div class="srvices-bg">
            <img
              class="img-fluid"
              src="./assets/images/divorce-thumb.jpg"
              alt="image"
            />
          </div>
          <div class="services-item">
            <h3>Divorce</h3>
            <p>
              If you are preparing to go through a divorce, we can help you make
              informed decisions, and we will guide you through every step of
              the process. From advising you prior to separation and while
              anticipating divorce, to negotiating your property settlement and
              fighting for alimony and child custody, we will handle all aspects
              of your divorce strategically, aggressively, and with your
              long-term best interests in mind.
            </p>
            <button class="read-more-button">read more ⟶</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="srvices-wrp wow fadeInUp">
          <div class="srvices-bg">
            <img
              class="img-fluid"
              src="./assets/images/custody-thumb.jpg"
              alt="image"
            />
          </div>
          <div class="services-item">
            <h3>Custody</h3>
            <p>
              Whether you are divorcing, separating from your partner or dealing
              with a custody issue post judgment, the more effort you put into
              protecting your relationship with your children now, the less
              likely you are to face problems down the road. With extensive
              experience structuring mutually-agreeable parenting time plans and
              fighting for our clients’ custody and visitation rights in court,
              our attorneys know what it takes to make sure our clients can
              watch their children grow and be involved in their children’s
              lives on a frequent basis.
            </p>
            <button class="read-more-button">read more ⟶</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="srvices-wrp wow fadeInUp">
          <div class="srvices-bg">
            <img
              class="img-fluid"
              src="./assets/images/child-support-thumb.jpg"
              alt="image"
            />
          </div>
          <div class="services-item">
            <h3>Child Support</h3>
            <p>
              In any divorce or separation, the calculation of child support is
              subject to Michigan’s Child Support Formula. While this formula is
              designed to make it easier for parents to calculate their support
              obligations, these calculations are often complex. We help our
              clients determine appropriate payment obligations and represent
              single mothers and fathers in child support modification and
              enforcement proceedings. These proceedings are often highly
              contentious, and obtaining a favorable outcome frequently requires
              aggressive litigation.
            </p>
            <button class="read-more-button">read more ⟶</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="srvices-wrp wow fadeInUp">
          <div class="srvices-bg">
            <img
              class="img-fluid"
              src="./assets/images/divorce-thumb.jpg"
              alt="image"
            />
          </div>
          <div class="services-item">
            <h3>Parental Alienation</h3>
            <p>
              Parental alienation cases are among the most emotionally-charged
              and most contentious cases we handle. If you and your child are
              victims of parental alienation, or if you have been falsely
              accused of abuse, we can take swift legal action to protect you.
              Whether your child is exhibiting symptoms of parental alienation
              or you have not seen your child in months or years, we can use our
              decades of experience handling parental alienation cases in the
              Michigan courts to help you.
            </p>
            <button class="read-more-button">read more ⟶</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="srvices-wrp wow fadeInUp">
          <div class="srvices-bg">
            <img
              class="img-fluid"
              src="./assets/images/custody-thumb.jpg"
              alt="image"
            />
          </div>
          <div class="services-item">
            <h3>Appeals</h3>
            <p>
              In addition to representing our clients in trial, we also provide
              representation in civil appeals. While not all decisions are
              subject to appeal, if you have grounds to challenge the outcome of
              your divorce, child custody dispute or other family law case, our
              attorneys can appeal your trial verdict to the Michigan Court of
              Appeals.
            </p>
            <button class="read-more-button">read more ⟶</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="srvices-wrp wow fadeInUp">
          <div class="srvices-bg">
            <img
              class="img-fluid"
              src="./assets/images/child-support-thumb.jpg"
              alt="image"
            />
          </div>
          <div class="services-item">
            <h3>Visitation</h3>
            <p>
              While most family law matters fall into the categories discussed
              above, unique circumstances call for unique solutions. If you are
              dealing with any family-related legal issue, we encourage you to
              give us a call. Our attorneys also have extensive experience in
              cases involving:
            </p>
            <button class="read-more-button">read more ⟶</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- our client says -->
<section class="our-client pd_auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-xl-6 ch-order">
        <div class="client-slider-wrp wow bounceInRight">
          <div class="client-says-slider">
            <section class="customer-logos slider slider-prent">
              <div class="slide client-says-list">
                <div class="slide-item">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo alias earum, repudiandae accusamus molestiae rem fugiat
                    quibusdam sed aliquid, provident voluptas assumenda odit
                    rerum soluta sequi neque. Veniam, nihil voluptatibus? Omnis
                    libero saepe non, consectetur nemo minus quia corporis
                    maiores praesentium! Quibusdam nesciunt mollitia, illum quis
                    officiis nihil sed eligendi voluptate, delectus
                    reprehenderit a itaque dolore soluta
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h2>Unknown</h2>
                    <img src="./assets/images/like.png" alt="image" />
                  </div>
                </div>
              </div>
              <div class="slide client-says-list">
                <div class="slide-item">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Culpa obcaecati deleniti veritatis iste iusto ipsa corrupti
                    in enim repudiandae, rerum voluptatem quibusdam pariatur
                    eligendi? Optio facere in amet quaerat architecto
                    consequatur adipisci ex consequuntur magni aliquam tempora
                    repudiandae, sunt dicta ullam officia voluptatem quam eius
                    facilis blanditiis? Omnis libero saepe non, consectetur nemo
                    minus quia corporis maiores praesentium! Quibusdam nesciunt
                    mollitia, illum quis officiis nihil sed eligendi voluptate,
                    delectus reprehenderit a itaque dolore soluta
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h2>Unknown</h2>
                    <img src="./assets/images/like.png" alt="image" />
                  </div>
                </div>
              </div>
              <div class="slide client-says-list">
                <div class="slide-item">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Culpa obcaecati deleniti veritatis iste iusto ipsa corrupti
                    in enim repudiandae, rerum voluptatem quibusdam pariatur
                    eligendi? Optio facere in amet quaerat architecto
                    consequatur adipisci ex consequuntur magni aliquam tempora
                    repudiandae, sunt dicta ullam officia voluptatem quam eius
                    facilis blanditiis? Omnis libero saepe non, consectetur nemo
                    minus quia corporis maiores praesentium! Quibusdam nesciunt
                    mollitia, illum quis officiis nihil sed eligendi voluptate,
                    delectus reprehenderit a itaque dolore soluta
                    exercitationem, harum aperiam quidem facilis odit
                    perspiciatis. Corrupti laboriosam voluptates reiciendis
                    nostrum praesentium facilis maiores, pariatur dolorum
                    inventore non autem aliquam vitae nam repudiandae tenetur
                    cumque.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h2>Unknown</h2>
                    <img src="./assets/images/like.png" alt="image" />
                  </div>
                </div>
              </div>
              <div class="slide client-says-list">
                <div class="slide-item">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Nisi reprehenderit impedit maxime labore mollitia culpa.
                    Provident, cum minus quisquam ipsum iste dolores tempore,
                    saepe quaerat blanditiis, labore quis accusamus tenetur.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Minima molestias cumque, alias quaerat ad ex in laboriosam
                    illum tempore soluta asperiores praesentium quas commodi
                    sequi dolorum sint dolor odio molestiae?
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h2>Unknown</h2>
                    <img src="./assets/images/like.png" alt="image" />
                  </div>
                </div>
              </div>
              <div class="slide client-says-list">
                <div class="slide-item">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Nisi reprehenderit impedit maxime labore mollitia culpa.
                    Provident, cum minus quisquam ipsum iste dolores tempore,
                    saepe quaerat blanditiis, labore quis accusamus tenetur.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Minima molestias cumque, alias quaerat ad ex in laboriosam
                    illum tempore soluta asperiores praesentium quas commodi
                    sequi dolorum sint dolor odio molestiae?.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h2>Unknown</h2>
                    <img src="./assets/images/like.png" alt="image" />
                  </div>
                </div>
              </div>
              <div class="slide client-says-list">
                <div class="slide-item">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Reiciendis sapiente provident exercitationem totam
                    repudiandae, doloremque aperiam recusandae dolore nostrum
                    quam rerum iure nihil labore. Voluptatum labore cum voluptas
                    similique eum laboriosam magnam veritatis harum corrupti
                    fuga deleniti repellendus deserunt dignissimos dicta
                    architecto explicabo neque possimus impedit, itaque tenetur
                    dolore dolores a. Repellendus est quas magnam necessitatibus
                    praesentium quaerat fugit molestiae voluptatem consequuntur
                    id dicta ab nesciunt.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h2>Unknown</h2>
                    <img src="./assets/images/like.png" alt="image" />
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-6">
        <div class="features-content-area wow bounceInRight">
          <h3>
            OUR PAST <br />
            CLIENTS SAY IT BEST.
          </h3>
          <p>
            Every day my team strives to ensure our clients get the best
            possible result for their case. We take pride in being upfront and
            honest with our clients and give them the best possible advice and
            resolution for their case. Don’t take our word for it, read their
            reviews.
          </p>
          <figure class="client-arrow wow swing">
            <img src="./assets/images/arrow-blue-left-min.png" alt="image" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- form EVALUATION -->

<section class="contact-us-form pd_auto">
  <div class="container">
    <div class="row align-items-center row-p">
      <div class="col-sm-12 col-md-12 col-xl-6 no-space">
        <div class="form-section wow rollIn">
          <div class="bg-color">
            <h2 class="text-center">free case evaluation</h2>
            <form>
              <div class="screen-body">
                <div class="screen-body-item">
                  <div class="app-form">
                    <div class="app-form-group name-section">
                      <input
                        class="app-form-control"
                        placeholder="First Name"
                      />
                      <input class="app-form-control" placeholder="Last Name" />
                    </div>
                    <div class="app-form-group">
                      <input class="app-form-control" placeholder="Email" />
                    </div>
                    <div class="app-form-group message">
                      <input class="app-form-control" placeholder="Message" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="schedule-btn text-center">
              <button>Schedule my case review</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-6">
        <div class="features-content-area evaluation-contant">
          <h3 class="wow fadeInRight">
            HAVE A SPECIFIC QUESTION?<br />
            GET A FREE CASE EVALUATION
          </h3>
          <p>
            Give us a little information about your situation and schedule your
            free case evaluation. We can have a consultation over the phone, via
            Skype or Zoom or we can meet at one of our convenient offices across
            Connecticut.
          </p>
          <h4>Let's get you some real answers.</h4>
          <figure class="Contact-arrow wow swing">
            <img src="./assets/images/arrow-orange-min.png" alt="image" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- our blog section -->

<section class="blog-section pd_auto">
  <div class="container">
    <div class="features-content-area section-title">
      <h3
        class="wow fadeInRight"
        style="visibility: visible; animation-name: fadeInRight"
      >
        Read Our Blogs
      </h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="blog-item">
          <div class="blog-image">
            <a href="#">
              <img
                class="img-fluid"
                src="./assets/images/our-blog-1.jpg"
                alt="image"
            /></a>
          </div>
          <div class="single-blog-item">
            <ul class="date">
              <li>02</li>
              <li>January</li>
            </ul>
            <ul class="blog-list">
              <li>
                <a href="#"><i class="fa fa-user-alt"></i> By admin</a>
              </li>
              <li><i class="far fa-comments"></i> 3 Comments</li>
            </ul>
            <div class="blog-content">
              <a href="#">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
              </a>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cupiditate reprehenderit delectus reiciendis odio quas? Saepe
                esse cum voluptate. Tempora veritatis ducimus adipisci in iusto.
              </p>
            </div>
            <div class="blog-btn">
              <a class="blog-btn-one" href="#">Read More ⟶</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item">
          <div class="blog-image">
            <a href="#">
              <img
                class="img-fluid"
                src="./assets/images/our-blog-2.jpeg"
                alt="image"
            /></a>
          </div>
          <div class="single-blog-item">
            <ul class="date">
              <li>03</li>
              <li>January</li>
            </ul>
            <ul class="blog-list">
              <li>
                <a href="#"><i class="fa fa-user-alt"></i> By admin</a>
              </li>
              <li><i class="far fa-comments"></i> 3 Comments</li>
            </ul>
            <div class="blog-content">
              <a href="#">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
              </a>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cupiditate reprehenderit delectus reiciendis odio quas? Saepe
                esse cum voluptate. Tempora veritatis ducimus adipisci in iusto.
              </p>
            </div>
            <div class="blog-btn">
              <a class="blog-btn-one" href="#">Read More ⟶</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="blog-item">
          <div class="blog-image">
            <a href="#">
              <img
                class="img-fluid"
                src="./assets/images/our-blog-3.jpg"
                alt="image"
            /></a>
          </div>
          <div class="single-blog-item">
            <ul class="date">
              <li>03</li>
              <li>January</li>
            </ul>
            <ul class="blog-list">
              <li>
                <a href="#"><i class="fa fa-user-alt"></i> By admin</a>
              </li>
              <li><i class="far fa-comments"></i> 3 Comments</li>
            </ul>
            <div class="blog-content">
              <a href="#">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
              </a>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cupiditate reprehenderit delectus reiciendis odio quas? Saepe
                esse cum voluptate. Tempora veritatis ducimus adipisci in iusto.
              </p>
            </div>
            <div class="blog-btn">
              <a class="blog-btn-one" href="#">Read More ⟶</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
