<section class="bradcrumbs-area">
  <div class="page-title-area">
    <div class="container">
      <div class="page-title-content contact-us-head">
        <h2>GET IN TOUCH</h2>
        <p>We're always standing by and eager to help.</p>
      </div>
    </div>
  </div>
</section>
<section class="About-page-section features-content-area">
  <div class="contact-us-tabs">
    <ul class="nav nav-pills tab-contact-us" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="office-locations-tab"
          data-toggle="pill"
          href="#office-locations"
          role="tab"
          aria-controls="office-locations"
          aria-selected="true"
          >office locations</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="New-Clients-tab"
          data-toggle="pill"
          href="#New-Clients"
          role="tab"
          aria-controls="New-Clients"
          aria-selected="false"
          >New Clients</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="Current-Clients-tab"
          data-toggle="pill"
          href="#Current-Clients"
          role="tab"
          aria-controls="Current-Clients"
          aria-selected="false"
          >Current Clients</a
        >
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent1">
      <div
        class="tab-pane fade show active"
        id="office-locations"
        role="tabpanel"
        aria-labelledby="office-locations-tab"
      >
        <ul class="nav nav-pills mb-3 sub-tabing" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="Corporate-Office-tab"
              data-toggle="pill"
              href="#Corporate-Office"
              role="tab"
              aria-controls="Corporate-Office"
              aria-selected="true"
              >Corporate
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="Chamber-tab"
              data-toggle="pill"
              href="#Chamber"
              role="tab"
              aria-controls="Chamber"
              aria-selected="false"
              >Chamber</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="Delhi-Litigation-Office-tab"
              data-toggle="pill"
              href="#Delhi-Litigation-Office"
              role="tab"
              aria-controls="Delhi-Litigation-Office"
              aria-selected="false"
              >Delhi Litigation</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="Chandigarh-Office-tab"
              data-toggle="pill"
              href="#Chandigarh-Office"
              role="tab"
              aria-controls="Chandigarh-Office"
              aria-selected="true"
              >Chandigarh</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="Noida-Office-tab"
              data-toggle="pill"
              href="#Noida-Office"
              role="tab"
              aria-controls="Noida-Office"
              aria-selected="false"
              >Noida</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="Allahabad-Office-tab"
              data-toggle="pill"
              href="#Allahabad-Office"
              role="tab"
              aria-controls="Allahabad-Office"
              aria-selected="false"
              >Allahabad</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="Meerut-Office-tab"
              data-toggle="pill"
              href="#Meerut-Office"
              role="tab"
              aria-controls="Meerut-Office"
              aria-selected="false"
              >Meerut</a
            >
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent2">
          <div
            class="tab-pane fade show active"
            id="Corporate-Office"
            role="tabpanel"
            aria-labelledby="Corporate-Office-tab"
          >
            <div class="client-contact-us">
              <div class="container">
                <div class="row m-0 p-0">
                  <div class="col-md-8">
                    <div class="contact-field">
                      <h4>Enquiry Desk</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input
                              placeholder="Your Name*"
                              type="text"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Company Name" type="text" />
                          </div>
                          <div class="single-input-field">
                            <input
                              placeholder="Your E-mail*"
                              type="email"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Phone" type="text" />
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input placeholder="Subject" type="text" />
                          </div>
                          <div class="single-input-field">
                            <textarea
                              placeholder="Message*"
                              required
                            ></textarea>
                          </div>
                          <div class="single-input-fieldsbtn">
                            <input value="Submit " type="submit" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 p-0">
                    <div class="contact-location">
                      <div class="location-img">
                        <img
                          class="img-fluid"
                          src="./assets/images/delhi.jpg"
                          alt=""
                        />
                      </div>
                      <div class="location-details">
                        <h4>contact details</h4>
                        <div class="d-flex">
                          <i class="fas fa-map-marker-alt"></i>
                          <p>B-27, LGF, Defence Colony, New Delhi – 110024</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-phone-alt"></i>
                          <p>+91 11 41046363 +91 11 49506463 +91 11 41046362</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-envelope"></i>
                          <a href="javascript:void(0)"
                            >info@diwanadvocates.com</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="Chamber"
            role="tabpanel"
            aria-labelledby="Chamber-tab"
          >
            <div class="client-contact-us">
              <div class="container">
                <div class="row m-0 p-0">
                  <div class="col-md-8">
                    <div class="contact-field">
                      <h4>Enquiry Desk</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input
                              placeholder="Your Name*"
                              type="text"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Company Name" type="text" />
                          </div>
                          <div class="single-input-field">
                            <input
                              placeholder="Your E-mail*"
                              type="email"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Phone" type="text" />
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input placeholder="Subject" type="text" />
                          </div>
                          <div class="single-input-field">
                            <textarea
                              placeholder="Message*"
                              required
                            ></textarea>
                          </div>
                          <div class="single-input-fieldsbtn">
                            <input value="Submit " type="submit" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 p-0">
                    <div class="contact-location">
                      <div class="location-img">
                        <img
                          class="img-fluid"
                          src="./assets/images/delhi.jpg"
                          alt=""
                        />
                      </div>
                      <div class="location-details">
                        <h4>contact details</h4>
                        <div class="d-flex">
                          <i class="fas fa-map-marker-alt"></i>
                          <p>303, Patiala House Courts, New Delhi</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-phone-alt"></i>
                          <p>+91 11 2307 2532</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-envelope"></i>
                          <a href="javascript:void(0)"
                            >info@diwanadvocates.com</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="Delhi-Litigation-Office"
            role="tabpanel"
            aria-labelledby="Delhi-Litigation-Office-tab"
          >
            <div class="client-contact-us">
              <div class="container">
                <div class="row m-0 p-0">
                  <div class="col-md-8">
                    <div class="contact-field">
                      <h4>Enquiry Desk</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input
                              placeholder="Your Name*"
                              type="text"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Company Name" type="text" />
                          </div>
                          <div class="single-input-field">
                            <input
                              placeholder="Your E-mail*"
                              type="email"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Phone" type="text" />
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input placeholder="Subject" type="text" />
                          </div>
                          <div class="single-input-field">
                            <textarea
                              placeholder="Message*"
                              required
                            ></textarea>
                          </div>
                          <div class="single-input-fieldsbtn">
                            <input value="Submit " type="submit" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 p-0">
                    <div class="contact-location">
                      <div class="location-img">
                        <img
                          class="img-fluid"
                          src="./assets/images/delhi.jpg"
                          alt=""
                        />
                      </div>
                      <div class="location-details">
                        <h4>contact details</h4>
                        <div class="d-flex">
                          <i class="fas fa-map-marker-alt"></i>
                          <p>
                            23- A, Chelmsford Road, Near Connaught Place, New
                            Delhi- 110055
                          </p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-phone-alt"></i>
                          <p>+91 11 49506463</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-envelope"></i>
                          <a href="javascript:void(0)"
                            >info@diwanadvocates.com</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade show"
            id="Chandigarh-Office"
            role="tabpanel"
            aria-labelledby="Chandigarh-Office-tab"
          >
            <div class="client-contact-us">
              <div class="container">
                <div class="row m-0 p-0">
                  <div class="col-md-8">
                    <div class="contact-field">
                      <h4>Enquiry Desk</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input
                              placeholder="Your Name*"
                              type="text"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Company Name" type="text" />
                          </div>
                          <div class="single-input-field">
                            <input
                              placeholder="Your E-mail*"
                              type="email"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Phone" type="text" />
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input placeholder="Subject" type="text" />
                          </div>
                          <div class="single-input-field">
                            <textarea
                              placeholder="Message*"
                              required
                            ></textarea>
                          </div>
                          <div class="single-input-fieldsbtn">
                            <input value="Submit " type="submit" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 p-0">
                    <div class="contact-location">
                      <div class="location-img">
                        <img
                          class="img-fluid"
                          src="./assets/images/delhi.jpg"
                          alt=""
                        />
                      </div>
                      <div class="location-details">
                        <h4>contact details</h4>
                        <div class="d-flex">
                          <i class="fas fa-map-marker-alt"></i>
                          <p>
                            00679 Block-3, Shivalik Vihar-II Nayagaon, Near
                            Govt. Model Sr. Sec. School, Khuda Ali Sher,
                            Chandigarh (PB) 160103
                          </p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-phone-alt"></i>
                          <p>+91 172 2785007</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-envelope"></i>
                          <a href="javascript:void(0)"
                            >info@diwanadvocates.com</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="Noida-Office"
            role="tabpanel"
            aria-labelledby="Noida-Office-tab"
          >
            <div class="client-contact-us">
              <div class="container">
                <div class="row m-0 p-0">
                  <div class="col-md-8">
                    <div class="contact-field">
                      <h4>Enquiry Desk</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input
                              placeholder="Your Name*"
                              type="text"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Company Name" type="text" />
                          </div>
                          <div class="single-input-field">
                            <input
                              placeholder="Your E-mail*"
                              type="email"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Phone" type="text" />
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input placeholder="Subject" type="text" />
                          </div>
                          <div class="single-input-field">
                            <textarea
                              placeholder="Message*"
                              required
                            ></textarea>
                          </div>
                          <div class="single-input-fieldsbtn">
                            <input value="Submit " type="submit" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 p-0">
                    <div class="contact-location">
                      <div class="location-img">
                        <img
                          class="img-fluid"
                          src="./assets/images/delhi.jpg"
                          alt=""
                        />
                      </div>
                      <div class="location-details">
                        <h4>contact details</h4>
                        <div class="d-flex">
                          <i class="fas fa-map-marker-alt"></i>
                          <p>
                            428, Street No. 9, District Courts, Gautam Buddha
                            Nagar, Surajpur, Greater NOIDA (UP)
                          </p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-phone-alt"></i>
                          <p>+91 80106 56060</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-envelope"></i>
                          <a href="javascript:void(0)"
                            >info@diwanadvocates.com</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="Allahabad-Office"
            role="tabpanel"
            aria-labelledby="Allahabad-Office-tab"
          >
            <div class="client-contact-us">
              <div class="container">
                <div class="row m-0 p-0">
                  <div class="col-md-8">
                    <div class="contact-field">
                      <h4>Enquiry Desk</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input
                              placeholder="Your Name*"
                              type="text"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Company Name" type="text" />
                          </div>
                          <div class="single-input-field">
                            <input
                              placeholder="Your E-mail*"
                              type="email"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Phone" type="text" />
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input placeholder="Subject" type="text" />
                          </div>
                          <div class="single-input-field">
                            <textarea
                              placeholder="Message*"
                              required
                            ></textarea>
                          </div>
                          <div class="single-input-fieldsbtn">
                            <input value="Submit " type="submit" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 p-0">
                    <div class="contact-location">
                      <div class="location-img">
                        <img
                          class="img-fluid"
                          src="./assets/images/delhi.jpg"
                          alt=""
                        />
                      </div>
                      <div class="location-details">
                        <h4>contact details</h4>
                        <div class="d-flex">
                          <i class="fas fa-map-marker-alt"></i>
                          <p>
                            A-105/106, Sterling Apartment, 93 Muir Road, Near
                            Sadar Bazar Crossing, Ashok Nagar, Allahabad -
                            211001
                          </p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-phone-alt"></i>
                          <p>+91 80106 56060</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-envelope"></i>
                          <a href="javascript:void(0)"
                            >info@diwanadvocates.com</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="Meerut-Office"
            role="tabpanel"
            aria-labelledby="Meerut-Office-tab"
          >
            <div class="client-contact-us">
              <div class="container">
                <div class="row m-0 p-0">
                  <div class="col-md-8">
                    <div class="contact-field">
                      <h4>Enquiry Desk</h4>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input
                              placeholder="Your Name*"
                              type="text"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Company Name" type="text" />
                          </div>
                          <div class="single-input-field">
                            <input
                              placeholder="Your E-mail*"
                              type="email"
                              required
                            />
                          </div>
                          <div class="single-input-field">
                            <input placeholder="Phone" type="text" />
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="single-input-field">
                            <input placeholder="Subject" type="text" />
                          </div>
                          <div class="single-input-field">
                            <textarea
                              placeholder="Message*"
                              required
                            ></textarea>
                          </div>
                          <div class="single-input-fieldsbtn">
                            <input value="Submit " type="submit" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 p-0">
                    <div class="contact-location">
                      <div class="location-img">
                        <img
                          class="img-fluid"
                          src="./assets/images/delhi.jpg"
                          alt=""
                        />
                      </div>
                      <div class="location-details">
                        <h4>contact details</h4>
                        <div class="d-flex">
                          <i class="fas fa-map-marker-alt"></i>
                          <p>L 3, 307, (Sector 13)Shastri Nagar, Meerut (UP)</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-phone-alt"></i>
                          <p>+91 80106 5606</p>
                        </div>
                        <div class="d-flex">
                          <i class="fas fa-envelope"></i>
                          <a href="javascript:void(0)"
                            >info@diwanadvocates.com</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="New-Clients"
        role="tabpanel"
        aria-labelledby="New-Clients-tab"
      >
        <div class="client-contact-us">
          <div class="container">
            <div class="client-head">
              <h4>WE WOULD LOVE TO HELP YOU WITH YOUR CASE.</h4>
              <div class="client-brder-btm"><span></span></div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div
                  class="client-section animated fadeInLeft"
                  data-settings="{'_animation':'fadeInLeft'}"
                >
                  <figure>
                    <img src="./assets/images/operator-1.png" alt="" />
                  </figure>
                  <div class="cl-details">
                    <h4>Call Us</h4>
                    <p>
                      (+91 11 41046363)<br />
                      DIWAN-ADVOCATE
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="client-section animated fadeInUp"
                  data-settings="{'_animation':'fadeInUp'}"
                >
                  <figure>
                    <img src="./assets/images/smartphone.png" alt="" />
                  </figure>
                  <div class="cl-details">
                    <h4>TEXT US</h4>
                    <p>CLICK TO TEXT</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="client-section animated fadeInRight"
                  data-settings="{'_animation':'fadeInRight'}"
                >
                  <figure>
                    <img src="./assets/images/messenger-copy.png" alt="" />
                  </figure>
                  <div class="cl-details">
                    <h4>MESSAGE US</h4>
                    <p>MESSAGE ON FACEBOOK</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="Current-Clients"
        role="tabpanel"
        aria-labelledby="Current-Clients-tab"
      >
        <div class="client-contact-us">
          <div class="container">
            <div class="client-head">
              <h4>SPEAK TO A TEAM MEMBER TODAY ABOUT YOUR PENDING CASE.</h4>
              <div class="client-brder-btm"><span></span></div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div
                  class="client-section animated fadeInLeft"
                  data-settings="{'_animation':'fadeInLeft'}"
                >
                  <figure>
                    <img src="./assets/images/operator-1.png" alt="" />
                  </figure>
                  <div class="cl-details">
                    <h4>Call Us</h4>
                    <p>
                      (+91 11 41046363)<br />
                      DIWAN-ADVOCATE
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="client-section animated fadeInUp"
                  data-settings="{'_animation':'fadeInUp'}"
                >
                  <figure>
                    <img src="./assets/images/smartphone.png" alt="" />
                  </figure>
                  <div class="cl-details">
                    <h4>TEXT US</h4>
                    <p>CLICK TO TEXT</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="client-section animated fadeInRight"
                  data-settings="{'_animation':'fadeInRight'}"
                >
                  <figure>
                    <img src="./assets/images/messenger-copy.png" alt="" />
                  </figure>
                  <div class="cl-details">
                    <h4>MESSAGE US</h4>
                    <p>MESSAGE ON FACEBOOK</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
