.page-overlay-wrapper {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body svg {
  overflow: visible;
}

.d-spinner {
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 0.3, 1);
  animation-timing-function: cubic-bezier(0, 1, 0.3, 1);
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: left bottom;
}
.d-spinner.d-spinner__one {
  -webkit-animation-name: dSpinnerOne;
  animation-name: dSpinnerOne;
  fill: #7b75af;
}
.d-spinner.d-spinner__two {
  -webkit-animation-name: dSpinnerTwo;
  animation-name: dSpinnerTwo;
  fill: #a8a3cb;
}
.d-spinner.d-spinner__three {
  -webkit-animation-name: dSpinnerThree;
  animation-name: dSpinnerThree;
  fill: #d2d0e4;
}
.d-spinner.d-spinner__four {
  -webkit-animation-name: dSpinnerFour;
  animation-name: dSpinnerFour;
  fill: #fefefe;
}
@-webkit-keyframes dSpinnerOne {
  0% {
    opacity: 0;
    fill: #b9b6d4;
    transform: rotateZ(-65deg) scale(0.6);
  }
  7% {
    opacity: 1;
    fill: #b9b6d4;
    transform: rotateZ(0) scale(1);
  }
  57% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #7b75af;
  }
  74% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  83% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes dSpinnerOne {
  0% {
    opacity: 0;
    fill: #b9b6d4;
    transform: rotateZ(-65deg) scale(0.6);
  }
  7% {
    opacity: 1;
    fill: #b9b6d4;
    transform: rotateZ(0) scale(1);
  }
  57% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #7b75af;
  }
  74% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  83% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@-webkit-keyframes dSpinnerTwo {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  3% {
    opacity: 0;
    fill: #e6e4f0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  10% {
    opacity: 1;
    fill: #e6e4f0;
    transform: rotateZ(0) scale(1);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #a8a3cb;
  }
  71% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  79% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes dSpinnerTwo {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  3% {
    opacity: 0;
    fill: #e6e4f0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  10% {
    opacity: 1;
    fill: #e6e4f0;
    transform: rotateZ(0) scale(1);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #a8a3cb;
  }
  71% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  79% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@-webkit-keyframes dSpinnerThree {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  6% {
    opacity: 0;
    fill: white;
    transform: rotateZ(-65deg) scale(0.6);
  }
  13% {
    opacity: 1;
    fill: white;
    transform: rotateZ(0) scale(1);
  }
  63% {
    fill: #d2d0e4;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  68% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  76% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes dSpinnerThree {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  6% {
    opacity: 0;
    fill: white;
    transform: rotateZ(-65deg) scale(0.6);
  }
  13% {
    opacity: 1;
    fill: white;
    transform: rotateZ(0) scale(1);
  }
  63% {
    fill: #d2d0e4;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  68% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  76% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@-webkit-keyframes dSpinnerFour {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  9% {
    opacity: 0;
    fill: white;
    transform: rotateZ(-65deg) scale(0.6);
  }
  16% {
    opacity: 1;
    fill: white;
    transform: rotateZ(0) scale(1);
  }
  64% {
    fill: #fefefe;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  65% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  73% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes dSpinnerFour {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  9% {
    opacity: 0;
    fill: white;
    transform: rotateZ(-65deg) scale(0.6);
  }
  16% {
    opacity: 1;
    fill: white;
    transform: rotateZ(0) scale(1);
  }
  64% {
    fill: #fefefe;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  65% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  73% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}

.gradient-primary {
  background-color: #3b2f63;
  background-image: radial-gradient(
      at 0% bottom,
      rgba(118, 72, 160, 0.7) 0%,
      rgba(118, 72, 160, 0) 60%
    ),
    radial-gradient(at 90% bottom, #523f8c 0%, rgba(82, 63, 140, 0) 40%),
    radial-gradient(
      at 50% top,
      rgba(84, 90, 182, 0.6) 0%,
      rgba(84, 90, 182, 0) 75%
    ),
    radial-gradient(at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
  background-size: auto, auto, 100% 1000px, 100% 1000px;
  background-repeat: no-repeat;
}
