<div
  class="inner-comn-area overlay"
  style="background-image: url(./assets/images/diwan-breadcrumbs.jpg)"
>
  <div class="container">
    <div class="breadcrumbs-area">
      <div class="verticalyMiddle">
        <div class="default-heading">
          <h2>Dr. Farrukh Khan</h2>
        </div>
        <div class="breadcrumbs">
          <a href="#!">Home</a><a href="#!">Profile </a
          ><span> Dr. Farrukh Khan</span>
        </div>
      </div>
    </div>
  </div>
</div>
<section
  class="About-page-section pd_auto features-content-area wow bounceInRight"
>
  <div class="container">
    <div class="row">
      <div class="seventy">
        <div class="about-us-first-section">
          <h3>Dr. Farrukh Khan</h3>

          <p>
            Dr. Farrukh is the administrative head and a partner of the firm. He
            is an enthusiastic and creative professional with excellent
            organizational and communication skills. His practical
            hands-on-approach invariably leads to achieving the best possible
            result in a given situation.
          </p>

          <p>
            Dr. Farrukh has diversified litigation exposure. His litigation
            skills encompasses from criminal to civil and corporate practice
            under Indian legal framework. He has represented several leading
            Banks and Financial Institutions, Government Entities, Real Estate
            Consortiums, Project Finance Companies, Not for Profit entities etc.
            in assortment of litigations including of civil and criminal nature.
          </p>

          <p>
            Dr. Farrukh is particularly experienced in litigation and
            arbitration, including white collar crime. He is a highly respected
            specialist in procedural and arbitration law business issues. He has
            considerable experience in corporate law and advising international
            and domestic companies. Dr Farrukh advises General Counsel, CEOs,
            and corporate boards on matters involving litigation, corporate
            governance and ethics. In the boardroom and the courtroom, his
            philosophy of early evaluation of risks and corporate exposure
            consistently produces cost-effective resolution of disputes.
          </p>
          <p>
            On non-contentious side Dr Farrukh has a particular focus on the
            property aspects of infrastructure developments for government and
            semi-government authorities including advising on issues associated
            with valuation and resumption matters, easements, compulsory
            acquisition, native title/aboriginal land rights and landowner
            negotiations and disputes. His areas of expertise are: construction
            and engineering (major projects and infrastructure, PPP projects and
            dispute resolution) and documentation (project deeds/development
            agreements, consultancy agreements, novation agreements, managing
            contractor agreements, alliance agreements, lump sum building
            contracts, design and construct contracts, supply agreements,
            subcontract agreements, finance tripartite deeds, and construction
            direct agreements).
          </p>

          <p>
            He also has worked in all aspects of IPR related areas,Dr. Farrukh
            comfortably devisesintegrated packages in all the areas of IPR
            includingpatent, copyright, trademark, sports IP, licensing, due
            diligence, etc. He also has expertise on the issues relevant to deal
            with ambush marketing, management of copyrights for event and
            marketing campaign. He is a regular speaker on IPR related forums
            and conferences and member of several IPR international
            organizations. Judgments in many cases where he has appearedhave
            been reported by several prestigious law journals of India.
          </p>
          <p>
            During his stint with law-firms abroad, Dr. Farrukh got opportunity
            to understand nuances of business and industry. Thus, armed with
            this knowledge and experience, Dr. Farrukh is perfectly at ease in
            advising and devising legal documentation covering all aspects of
            commercial transactions including investments plans, drafting and
            processing documentations in relation to merger, demerger
            collaboration, joint ventures etc.He has also negotiated and
            structured domestic and overseas transactions pertaining to Oil Gas
            & Power Sectors.
          </p>
          <p>
            Before joiningDiwan Advocates, Dr. Farrukh spent number of years as
            a corporate attorney in several Middle-East countries. He has also
            worked for a Spanish corporateconglomerate as itsLegal Advisor. He
            was also associated with United Nations as a Legal Advisor to
            Regional Director (Middle East-North Africa Region) of IIMSAM.
          </p>
          <p>
            Dr. Farrukh is a frequent speaker on law-related matters at various
            forums. He also has passion to interact with law students and, he
            has been speakers at some prestigious law Schools in India.
          </p>
        </div>
      </div>
      <div class="thirty team-bg-color">
        <div class="our-team-section details-blog-img">
          <figure>
            <img
              class="img-fluid"
              src="./assets/images/Farrukh.jpg"
              alt="image"
            />
          </figure>
        </div>
        <div class="social-icons">
          <div class="process-scetion">
            <div class="social-icons">
              <a href="#" target="_blank" class="slider-nav-item">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" target="_blank" class="slider-nav-item">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#" target="_blank" class="slider-nav-item">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" target="_blank" class="slider-nav-item">
                <i class="fab fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="detail-box first-box">
          <h4>CALL THE OFFICE</h4>
          <p>
            My office has operators standing by 24 hours a day 7 days a week.
            When you need to speak to an attorney, we will be there to answer
            the call..
          </p>

          <button class="read-my-story">click to call ⟶</button>
        </div>
        <div class="detail-box first-box second-box">
          <h4>SEND A TEXT</h4>
          <p>
            Need to get some answers but not able to make a call? Just send us a
            text and one of my team members will reply ASAP.
          </p>

          <button class="read-my-story">clcik to text ⟶</button>
        </div>
        <div class="detail-box first-box">
          <h4>MESSAGE US</h4>
          <p>
            Need to reach out via Facebook? Use Facebook Messenger to send us
            your question.
          </p>

          <button class="read-my-story">open facebook messenger ⟶</button>
        </div>
        <div class="detail-box first-box second-box">
          <h4>VISIT US</h4>
          <p>
            With offices conveniently located in Delhi, Patiala House,
            Chandigarh, Greater noida, and Ashok nagar allahabad, we cover the
            entire state.
          </p>

          <button class="read-my-story">CLICK TO SEE LOCATIONS ⟶</button>
        </div>
      </div>
    </div>
  </div>
</section>
