<header class="navigation-section">
  <div class="nav-wrp" id="main-navbar">
    <div class="nav-resp" id="isSticky">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <a class="navbar-brand" href="/"
            ><img src="/assets/images/logo-white.png" alt="image"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
          </button>
          <div
            class="collapse navbar-collapse background-wrp"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ml-auto nav-item-wrapper menu-pages">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown aboutUs-menu">
                <a class="nav-link dropdown-icon" routerLink="company-overview"
                  >About Us</a
                >
                <div class="about-sub-menu">
                  <ul>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="company-overview/firm-history"
                        >Firm History</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="company-overview/our-approach"
                        >Our Approach</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item aboutUs-menu">
                <a class="nav-link dropdown-icon" href="javascript:void(0)"
                  >Services & Sectors</a
                >
                <div class="about-sub-menu mega-menu-services">
                  <ul>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="services/alternative-dispute-resolution"
                        >Alternative Dispute Resolution</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Antitrust/Competition Law</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Aviation Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Banking and Finance Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Civil Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Contracts</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Corporate Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Data Protection and Information Technology</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Education Laws</a
                      >
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Employment and Benefits</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Environmental Law</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Fashion related Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Food and Beverage Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Insurance Law</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Intellectual Property Law</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >International Client Services</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >International Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >International Trade Laws and Anti-Dumping</a
                      >
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Laws relating to Pharmaceutical Industry</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Laws relating to Women</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Licensing, Technology Transfer and TMT (Technology.
                        Media and Telecom):</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Power, Energy and Natural Resources</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Real Estate</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Sports Law</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Matrimonial Laws</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)"
                        >Taxation Laws</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/company-overview/our-team"
                  >Team</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact-us">Contact</a>
              </li>
              <li class="nav-item my-servies">
                <ul class="d-flex my-social-icons">
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
