<!-- offices details -->

<section class="office-details">
  <div class="deatil-head">
    <div class="container">
      <h3>
        <a href="javascript:void(0)"
          >HAVE QUESTIONS? Call my office at (+91 11 41046363) DIWAN-ADVOCATE</a
        >
      </h3>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-sm-12 col-md-12 col-xl-5 p-0">
      <div class="office-image">
        <div class="title-office">
          <h3 class="animated fadeInUp">multiple office <br />locations</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-7 p-0">
      <div class="detail-list-wrp">
        <div class="populated-details">
          <div class="content">
            <a class="card-address" href="#!">
              <div
                class="front"
                style="background-image: url(./assets/images/delhi.jpg)"
              >
                <p>Delhi Office</p>
              </div>
              <div class="back">
                <div class="detail-contact-wrp">
                  <div class="detail-contact">
                    <p>D-200, LGF, Defence Colony, New Delhi – 110024</p>
                    <p>+91 11 41046363 +91 11 49506463 +91 11 41046362</p>
                    <button class="site-button">Map & Directions ⟶</button>
                  </div>
                </div>
              </div> </a
            ><a class="card-address" href="#!">
              <div
                class="front"
                style="background-image: url(./assets/images/Patiala.jpg)"
              >
                <p>Patiala House Courts</p>
              </div>
              <div class="back">
                <div class="detail-contact-wrp">
                  <div class="detail-contact">
                    <p>303, Patiala House Courts, New Delhi, India - 110001F</p>
                    <p>+91 11 237 418 51</p>
                    <button class="site-button">Map & Directions ⟶</button>
                  </div>
                </div>
              </div> </a
            ><a class="card-address" href="#!">
              <div
                class="front"
                style="background-image: url(./assets/images/chandigarh.jpg)"
              >
                <p>Chandigarh (PB)</p>
              </div>
              <div class="back">
                <div class="detail-contact-wrp">
                  <div class="detail-contact">
                    <p>
                      00679 Block-3, Shivalik Vihar-II Nayagaon, Near Govt.
                      Model Sr. Sec. School, Khuda Ali Sher, Chandigarh (PB)
                      160103
                    </p>
                    <p>+91 172 2785007</p>
                    <button class="site-button">Map & Directions ⟶</button>
                  </div>
                </div>
              </div> </a
            ><a class="card-address" href="#!">
              <div
                class="front"
                style="background-image: url(./assets/images/greater-noida.jpg)"
              >
                <p>Greater NOIDA (UP)</p>
              </div>
              <div class="back">
                <div class="detail-contact-wrp">
                  <div class="detail-contact">
                    <p>
                      428, Street No. 9, District Courts, Gautam Buddha Nagar,
                      Surajpur, Greater NOIDA (UP)
                    </p>
                    <p>+91 80106 56060</p>
                    <button class="site-button">Map & Directions ⟶</button>
                  </div>
                </div>
              </div> </a
            ><a class="card-address" href="#!">
              <div
                class="front"
                style="background-image: url(./assets/images/allahabad.jpg)"
              >
                <p>Ashok Nagar, Allahabad</p>
              </div>
              <div class="back">
                <div class="detail-contact-wrp">
                  <div class="detail-contact">
                    <p>
                      A-105/106, Sterling Apartment, 93 Muir Road, Near Sadar
                      Bazar Crossing, Ashok Nagar, Allahabad - 211001
                    </p>
                    <p>+91 80106 56060</p>
                    <button class="site-button">Map & Directions ⟶</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer section -->

<footer class="top-footer-section pd_auto">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-4">
        <div class="ft-logo">
          <figure>
            <img src="./assests/images/logo-white.png" alt="" />
          </figure>
          <p>
            Diwan Advocates is a full service law firm established with the
            objective of providing comprehensive and sophisticated legal advice
            and services to its clients, who are a mix of small and large
            companies including the individual clients engaged in a myriad of
            complex commercial activities.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-4">
        <div class="ft-content">
          <h2>Extra Links</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Our team</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Newsletter</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-4">
        <div class="ft-content">
          <h2>Services</h2>
          <ul>
            <li><a href="#">Insurance Law</a></li>
            <li><a href="#">Corporate Laws</a></li>
            <li><a href="#">Contracts</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Environmental Law</a></li>
            <li><a href="#">Taxation Laws</a></li>
            <li><a href="#">Aviation Laws</a></li>
            <li><a href="#">Education Laws</a></li>
            <li><a href="#">Sports Law</a></li>
            <li><a href="#">Criminal Law</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="bottom-footer">
  <div class="container">
    <div class="row row-p">
      <div class="col-sm-8">
        <div class="copyright-sec">
          <p>
            &copy;Copyright-2021 |
            <a href="#" class="text-white">Diwan Advocate</a> |
            <a class="text-white" href="#">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="design-sec">
          <p>
            Design & Developed by :
            <a href="http://www.ahatechnocrats.com">AHA Technocrats</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
