<div
  class="inner-comn-area overlay"
  style="background-image: url(./assets/images/diwan-breadcrumbs.jpg)"
>
  <div class="container">
    <div class="breadcrumbs-area">
      <div class="verticalyMiddle">
        <div class="default-heading">
          <h2>About Us</h2>
        </div>
        <div class="breadcrumbs">
          <a href="/">Home</a><a href="/company-overview">Company Overview</a
          ><span *ngIf="this.slug">{{ this.slug }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<section
  class="About-page-section pd_auto features-content-area wow bounceInRight"
>
  <div class="container">
    <div class="row">
      <div class="seventy">
        <div class="about-us-first-section">
          <h3>Company overview</h3>

          <p>
            Diwan Advocates is a full service law firm with a primary focus
            towards excellence in legal advice and legal services to be provided
            to the clients who are a mix of boutique and large companies
            including individual clients engaged in a variety of commercial
            activities. Diwan Advocates advises and represents its clients at
            existing and potential legal issues in transactional as well as
            litigation matters. Diwan Advocates represents their Clients above
            30 District Courts in two-Tier Cities and 15 High Courts.
          </p>

          <p>
            Although we specialize in corporate, commercial and intellectual
            property rights, transactional works, and complex litigation
            process; our services also include providing advice and legal
            service regarding business law, corporate finance, government
            contracts, international trade, dispute resolution, oil and gas,
            project finance, real estate, tax and telecommunications. This has
            also been a plus point in improving our clientele so as to include
            public and private companies and government entities with a diverse
            range of interests in industries such as business services,
            education, energy, healthcare, hotels and hospitality, and
            transportation and infrastructure.
          </p>

          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sint
            fuga facilis, et corrupti quos rem nostrum perspiciatis
            exercitationem odit aliquam similique autem. Nobis doloremque libero
            omnis veritatis minima nostrum? Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Sunt quis fuga cum a. Rerum dolores,
            impedit laborum dicta maiores velit accusantium sapiente
            exercitationem, saepe perspiciatis eaque nesciunt harum optio
            laboriosam?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sint
            fuga facilis, et corrupti quos rem nostrum perspiciatis
            exercitationem odit aliquam similique autem. Nobis doloremque libero
            omnis veritatis minima nostrum? Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Sunt quis fuga cum a. Rerum dolores,
            impedit laborum dicta maiores velit accusantium sapiente
            exercitationem, saepe perspiciatis eaque nesciunt harum optio
            laboriosam?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sint
            fuga facilis, et corrupti quos rem nostrum perspiciatis
            exercitationem odit aliquam similique autem. Nobis doloremque libero
            omnis veritatis minima nostrum? Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Sunt quis fuga cum a. Rerum dolores,
            impedit laborum dicta maiores velit accusantium sapiente
            exercitationem, saepe perspiciatis eaque nesciunt harum optio
            laboriosam?
          </p>
        </div>
      </div>
      <div class="thirty team-bg-color">
        <div class="our-team-section">
          <div
            id="carouselExampleIndicators1"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="team-details">
                  <div class="pic">
                    <img src="./assets/images/diwan-Team_1.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h4>Dr. Farrukh Khan</h4>
                    <p>
                      Dr. Farrukh is the administrative head and a partner of
                      the firm. He is an enthusiastic and creative professional
                      with excellent organizational and communication skills.
                      His practical hands-on-approach invariably leads to
                      achieving the best possible result in a given situation.
                    </p>

                    <button class="read-my-story">Read my Profile ⟶</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="team-details">
                  <div class="pic">
                    <img src="./assets/images/diwan-team_2.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h4>Manoj Kumar Malik</h4>
                    <p>
                      Manoj Malik is qualified as a Lawyer with an immense
                      professional experience, he specializes in Taxation,
                      Financing and Business Drafting of important agreements
                      and contracts. He has been advising several business
                      houses on various complex issues on a regular basis.
                    </p>

                    <button class="read-my-story">Read my Profile ⟶</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="team-details">
                  <div class="pic">
                    <img src="./assets/images/diwan-Team_3.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h4>Salar M Khan</h4>
                    <p>
                      Salar was accomplished in handling trials as well as
                      appeals, before higher courts including the Supreme Court
                      of India. Since his enrolment as an advocate in 1992, he
                      had been part of legal teams in some of the landmark cases
                      that had come up before the Supreme Court. Salar always
                      endeavored to plan strategies that maximized achievement
                      of clients’ goals to the fullest possible extent.
                    </p>

                    <button class="read-my-story">Read my Profile ⟶</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="team-details">
                  <div class="pic">
                    <img src="./assets/images/diwan-Team_4.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h4>Changhez Khan</h4>
                    <p>
                      Changhez Khan is a Partner with the Firm and a second
                      generation Lawyer comes from a family of Lawyers with
                      advocacy in his blood, he has attained the bachelor’s
                      degree in Law from Aligarh Muslim University, and his
                      passion for Law has motivated him throughout his studies.
                      Changhez after completing his studies joined the Bar and
                      since then he has been working relentlessly in the field
                      of Litigation. Changhez is well known name in the field of
                      Litigation today and he has gained a valuable experience
                      and expertise, interalia in handling various type of
                      family disputes, Criminal and Civil litigation.
                    </p>

                    <button class="read-my-story">Read my Profile ⟶</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="detail-box first-box">
          <h4>CALL THE OFFICE</h4>
          <p>
            My office has operators standing by 24 hours a day 7 days a week.
            When you need to speak to an attorney, we will be there to answer
            the call..
          </p>

          <button class="read-my-story">click to call ⟶</button>
        </div>
        <div class="detail-box first-box second-box">
          <h4>SEND A TEXT</h4>
          <p>
            Need to get some answers but not able to make a call? Just send us a
            text and one of my team members will reply ASAP.
          </p>

          <button class="read-my-story">clcik to text ⟶</button>
        </div>
        <div class="detail-box first-box">
          <h4>MESSAGE US</h4>
          <p>
            Need to reach out via Facebook? Use Facebook Messenger to send us
            your question.
          </p>

          <button class="read-my-story">open facebook messenger ⟶</button>
        </div>
        <div class="detail-box first-box second-box">
          <h4>VISIT US</h4>
          <p>
            With offices conveniently located in Delhi, Patiala House,
            Chandigarh, Greater noida, and Ashok nagar allahabad, we cover the
            entire state.
          </p>

          <button class="read-my-story">CLICK TO SEE LOCATIONS ⟶</button>
        </div>
      </div>
    </div>
  </div>
</section>
